<!DOCTYPE html>
<html>
  <head>
    <title>GitTeamPractice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>kkkk</h1>
    <h1>conflict</h1>
    <h1>konnbannwa</h1>
    <h2>こんばんわ</h2>
    <%= yield %>
  </body>
</html>
